*{
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.heading{
    width: 100%;
    background-color: blueviolet;
    text-align: center;
    font-size: 30px;
    height: 40px;
    padding: 22px;
}
.table{
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}